.title1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	vertical-align: top;
	color: ##FFFF00;
	font-weight: bold;
}

.text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	vertical-align: center;
	color: ##FFFF00;
	margin-left: 6;
	margin-right: 0
}

.text2 {
	border: 1px solid #777777;
	font: normal 11px verdana, tahoma;
	padding-left: 5px;
	margin-top: 2px;
	background-color: C5D8EB
}

.Buttom {
	border: 1px solid #777777;
	font: normal 11px Courier New, verdana, tahoma;
	padding-left: 5px;
	margin-top: 2px;
	font-weight: bold;
	width
	=150px;
}